<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883577596631-1r4ppurbgle7ot41vfn526420p8f4t5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883577596631-1r4ppurbgle7ot41vfn526420p8f4t5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDCmSy0G3-Yois3PEWEl9JOsD8YSDudR3k</string>
	<key>GCM_SENDER_ID</key>
	<string>883577596631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Michelle.Comprehensive-Assessment</string>
	<key>PROJECT_ID</key>
	<string>comprehensive-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>comprehensive-assessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883577596631:ios:8a20b77f29fc0594ba1e92</string>
	<key>DATABASE_URL</key>
	<string>https://comprehensive-assessment.firebaseio.com</string>
</dict>
</plist>